html body header {
  height: 273px;
}

html body header nav figure {
  width: 704px;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 767px) {
  html body header nav figure {
    width: 93%;
  }
}

html body header nav figure a p {
  font-size: 11.2px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  margin-top: 50.4px;
  margin-bottom: 0;
}

html body header nav figure a img {
  width: 77px;
  margin-bottom: 39px;
}

html body main div#ajusteMain {
  height: 300px;
}

@media screen and (max-width: 767px) {
  html body main div#ajusteMain {
    height: 206px;
  }
}

@media screen and (max-width: 767px) {
  html body main div#ajusteMain.ajuste10alternativas {
    height: 290px;
  }
}

html body main div#ajusteMain div.marginNegativa {
  margin-top: -154px;
  position: absolute;
  width: 100%;
}

html body main div#ajusteMain div.marginNegativa.displayNone {
  display: none;
}

html body main div#ajusteMain div.marginNegativa .tamanhoContainer {
  width: 704px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  html body main div#ajusteMain div.marginNegativa .tamanhoContainer {
    width: 93%;
  }
}

html body main div#ajusteMain div.marginNegativa .tamanhoContainer button {
  cursor: pointer;
}

html body main div#ajusteMain div.marginNegativa .tamanhoContainer .enviarButton {
  width: 117.9px;
  margin-top: 31px;
  height: 40px;
  border: none;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 2.4px;
  background-color: #25d193;
}

html body main div#ajusteMain div.marginNegativa .perguntaEncerraRespostaEnviada {
  padding: 0;
}

html body main div#ajusteMain div.marginNegativa .perguntaEncerraRespostaEnviada .pergunta h3 {
  text-align: center !important;
  width: 100% !important;
  font-size: 20px !important;
  text-align: center !important;
  color: #414141 !important;
  margin-top: 35px !important;
  margin-bottom: 39px !important;
}

html body main div#ajusteMain div.marginNegativa .perguntaEncerraRespostaEnviada .pergunta p {
  font-size: 20px !important;
  font-weight: 300 !important;
  text-align: center !important;
  color: #414141 !important;
  padding-bottom: 50px !important;
}

html body main div#ajusteMain div.marginNegativa .perguntaEncerraRespostaEnviada .pergunta button {
  width: 213.9px  !important;
  height: 40px  !important;
  border-radius: 2.4px  !important;
  background-color: #25d193  !important;
  margin: 0 auto  !important;
  display: block;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas {
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  padding: 24px;
  position: relative;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta button {
  width: 117.9px;
  height: 40px;
  border-radius: 2.4px;
  background-color: #25d193;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta p.msg-error {
  display: none;
  padding: 5px;
  font-size: 12px;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta h3 {
  font-size: 19.2px;
  text-align: justify;
  color: #414141;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta button {
  width: 55.6px;
  height: 52px;
  border-radius: 4.9px;
  background-color: #d9dade;
  border: none;
  color: #fff;
  margin-top: 11.2px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 2s;
  -webkit-transition: 2s;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta button:focus, html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta button:active {
  outline: none;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta button:hover {
  opacity: 0.7;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta button.simPerguntas {
  background-color: #25d194;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.39);
  -webkit-transition: 2s;
  transition: 2s;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta button.naoPerguntas {
  background-color: #ff5656;
  transition: 2s;
  -webkit-transition: 2s;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta p.comentario {
  margin-bottom: 11.2px;
  color: #414141;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta p small {
  opacity: 0.5;
  font-size: 9.6px;
  line-height: 1.33;
  text-align: left;
  color: #4a4a4a;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta div.form-group {
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta div.form-group input {
  padding: 0;
  width: 100%;
  border: none;
  border-bottom: solid 0.8px #422e86;
  outline: none;
  font-size: 12px;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta div.form-group input:focus, html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta div.form-group input:active, html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta div.form-group input:hover {
  outline: none;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta div.form-group input::placeholder {
  font-size: 12.8px;
  font-weight: 300;
  text-align: left;
  color: #383838;
}

@media screen and (max-width: 767px) {
  html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group {
    display: inline-block;
    margin-right: 0 !important;
  }
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button {
  width: 48px;
  height: 48px;
  margin-right: 13.7px;
  border-radius: 5.1px !important;
  outline: none;
  border: none;
  box-shadow: none;
}

@media screen and (max-width: 767px) {
  html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button {
    margin-right: 2.8px;
  }
}

@media screen and (max-width: 767px) {
  html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button:nth-child(5) {
    margin-right: 0;
  }
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button:focus, html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button:active {
  outline: none;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button:hover {
  outline: none;
  opacity: 0.8;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.36);
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button.ativoNota {
  background: linear-gradient(to right, #2ab490, #25d194) !important;
  border: none;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button:last-child {
  margin-right: 0;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button.resposta0.ativosPorDemanda {
  background-color: #F1474C;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button.resposta1.ativosPorDemanda {
  background-color: #DA4351;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button.resposta2.ativosPorDemanda {
  background-color: #BB3E95;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button.resposta3.ativosPorDemanda {
  background-color: #9F3961;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button.resposta4.ativosPorDemanda {
  background-color: #853568;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button.resposta5.ativosPorDemanda {
  background-color: #6B306F;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button.resposta6.ativosPorDemanda {
  background-color: #532B75;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button.resposta7.ativosPorDemanda {
  background-color: #3C277D;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button.resposta8.ativosPorDemanda {
  background-color: #2E6582;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button.resposta9.ativosPorDemanda {
  background-color: #229083;
}

html body main div#ajusteMain div.marginNegativa .containerPerguntas .pergunta .listaBotoesNotas .btn-group button.resposta10.ativosPorDemanda {
  background-color: #25D194;
}

html body main div#ajusteMain div.marginNegativa .avaliacaoNumerica {
  padding: 25px;
}

@media screen and (max-width: 767px) {
  html body main div#ajusteMain div.marginNegativa .avaliacaoNumerica {
    padding: 16px;
  }
}
