 $branco : #fff;

html{
	body{
		header{
			height: 273px;
			nav{
				figure{
					width: 704px;
					margin:0 auto;
					display: block;
					@media screen and (max-width:767px){
						width:93%;
					}
					a{	
						p{
							font-size: 11.2px;
							letter-spacing: 0.2px;
							text-align: left;
							color: #ffffff;
							margin-top:50.4px;
							margin-bottom:0;
						}
						img{
							width: 77px;
							margin-bottom:39px;
						}
					}
				}
			}
		}
		main{
			div#ajusteMain{
				height: 300px;
				@media screen and (max-width:767px){
					height: 206px;
				}
				&.ajuste10alternativas{
					@media screen and (max-width:767px){
						height: 290px;
					}
				}
				div.marginNegativa{
					margin-top: -154px;
				    position: absolute;
				    width: 100%;
					&.displayNone{
						display: none;
					}
					.tamanhoContainer{
						width: 704px;
						margin:0 auto;
						@media screen and (max-width:767px){
							width:93%;
						}
						button{
							cursor:pointer;
						}
						.enviarButton{
							width: 117.9px;
							margin-top:31px;
		  					height: 40px;
		  					border:none;
		  					color:$branco;
		  					font-size: 16px;
		  					text-align: center;
		  					border-radius: 2.4px;
		  					background-color: #25d193;
						}
					}
					.perguntaEncerraRespostaEnviada{
						padding:0;
						.pergunta{
							h3{
								text-align: center !important;
								width:100% !important;
		 						font-size: 20px !important;
		  						text-align: center !important;
		  						color: #414141 !important;
		  						margin-top:35px !important;
		  						margin-bottom:39px !important;
							}
							p{
							  	font-size: 20px !important;
		  						font-weight: 300 !important;
		  						text-align: center !important;
		  						color: #414141 !important;
		  						padding-bottom: 50px !important;
							}
							button{
								width: 213.9px  !important;
								height: 40px  !important;
								border-radius: 2.4px  !important;
								background-color: #25d193  !important;
								margin:0 auto  !important;
								display: block;
							}
						}
					}
					.containerPerguntas{
						margin:0 auto;
						display:block;
						border-radius: 4px;
						background-color: #ffffff;
						box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.22);
						padding:24px;
						position:relative;
						// top:-153px;
						.pergunta{
							button{
								width: 117.9px;
			  					height: 40px;
			  					border-radius: 2.4px;
			  					background-color: #25d193;
							}
							p.msg-error{
								display: none;
								padding:5px;
								font-size: 12px;
							}
							h3{
								font-size: 19.2px;
								text-align: justify;
								color: #414141;
							}
							button{
								width: 55.6px;
								height: 52px;
								border-radius: 4.9px;
								background-color: #d9dade;
								border:none;
								color:$branco;
								margin-top: 11.2px;
								margin-bottom:20px;
								cursor:pointer;
								transition:2s;
								-webkit-transition:2s;
								&:focus,&:active{
									outline:none;
								}
								&:hover{
									opacity: 0.7;
								}
								&.simPerguntas{
									background-color: #25d194;
			  						box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.39);
									-webkit-transition:2s;
			  						transition:2s;
								}
								&.naoPerguntas{
									background-color: #ff5656;
			  						transition:2s;
									-webkit-transition:2s;
								}
							}
							p{
								&.comentario{
									margin-bottom: 11.2px;
									color: #414141;
								}
								small{
									  opacity: 0.5;
									  font-size: 9.6px;
									  line-height: 1.33;
									  text-align: left;
									  color: #4a4a4a;
								}
							}
							div.form-group{
								width:100%;
								margin-bottom:0;
								padding:0;
								input{
									padding:0;
									width:100%;
									border:none;
									border-bottom: solid 0.8px #422e86;
									outline:none;
									font-size:12px;
									&:focus,&:active,&:hover{
										outline:none;
									}
									&::placeholder{
										font-size: 12.8px;
										font-weight: 300;
										text-align: left;
										color: #383838;
									}
								}
							}
							.listaBotoesNotas{
								.btn-group{
									@media screen and (max-width:767px){
										display:inline-block;
										margin-right: 0 !important;
									}
									button{
										width:48px;
										height:48px;
										margin-right:13.7px;
										border-radius: 5.1px !important;
										outline: none;
										border:none;
										box-shadow: none;
										@media screen and (max-width:767px){
											margin-right: 2.8px;
										}
										&:nth-child(5){
											@media screen and (max-width:767px){
												margin-right: 0;
											}	
										}
										&:focus,&:active{
											outline: none;
										}
										&:hover{
											outline: none;
											opacity: 0.8;
											// background-image: linear-gradient(to right, #2ab490, #25d194);
		  									box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.36);
										}
										&.ativoNota{
											background:linear-gradient(to right, #2ab490, #25d194) !important;
											border:none;
										}
										&.ativosPorDemanda{
											background-color: #ff5656;
										}
										&:last-child{
											margin-right:0;
										}
										.resposta0{
											background-color:#F1474C;
										}
										.resposta1{
											background-color:#DA4351;
										}
										.resposta2{
											background-color:#BB3E95;
										}
										.resposta3{
											background-color:#9F3961;
										}
										.resposta4{
											background-color:#853568;
										}
										.resposta5{
											background-color:#6B306F;
										}
										.resposta6{
											background-color:#532B75;
										}
										.resposta7{
											background-color:#3C277D;
										}
										.resposta8{
											background-color:#2E6582;
										}
										.resposta9{
											background-color:#229083;
										}
										.resposta10{
											background-color:#25D194;
										}
									}
								}
							}
						}
					}
					.avaliacaoNumerica {
						padding:25px;
						@media screen and (max-width:767px){
							padding:16px;
						}
					}
				}
			}
		}
	}
}